!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    block head
  body
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='#') Booklog
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') Home
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
    block body

      hr
      footer
        .container
          p © Booklog 2013

    block feet
