extends layout

block head
    title Booklog

block neck
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/wiki.css')

block feet
  script(src='/js/main.js')
  script(src='/js/index.js')

block body
  script(id='markdown', type='text/plain')
    | #{markdown}

  .container
    .row
      .col-md-12
        .col-md-9.wiki-page
          .wiki-content

        #sidebar.col-md-3(role='navigation')
          .well.sidebar-nav
            #bookinfo Index 書目
            ul.nav
              li.active
                a(href='#') 第 1 課：手機與瀏覽器就是 HTML5
              li
                a(href='#') 第 2 課：從 Chrome 瀏覽器談起
              li
                a(href='#') 第 3 課：HTML5 App 的 Runtime 是瀏覽器
              li
                a(href='#') 第 4 課：All in JavaScript 的時代
              li
                a(href='#') 第 5 課：了解 HTML5+CSS+JavaScript
            #bookinfo Author 作者
            div
              div
                img.img-circle(src='http://www.gravatar.com/avatar/400c529007e2242ac7132c78fc772e91', width='48', height='48')
                | Jollen Chen
              #bookinfo Tags 標籤
