extends layout

block head
    title Booklog

block neck
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/wiki.css')

block feet
  script(src='/js/main.js')
  script(src='/js/index.js')

block body
  script(id='markdown', type='text/plain')
    | #{markdown}

  .container
    .row
      .col-md-12
        .col-md-9.wiki-page
          .wiki-content

        .col-md-3(role='navigation')
          .well.sidebar-nav
            #newBookIndex.form-inline(role="form")
                .form-group
                  input.form-control.input-sm#filename(type="text", placeholder="Filename")
                .form-group
                  input.form-control.input-sm#title(type="text", placeholder="Title")

                button.btn.btn-primary.btn-xs.btn-add#createNew Create new
            #bookinfo Index 書目
            ul.nav#bookIndex

            #bookinfo Author 作者
            div
              div#author

              #bookinfo Tags 標籤
  script(id="tmpl-author", type="text/template")
    img.img-circle(src!='http://www.gravatar.com/avatar/<%= hash %>', width='48', height='48')
    |  <%= name %>

  script(id="tmpl-bookindex", type="text/template")
    li
      a(href!='/chapter/<%= _id %>') <%= title %>


